body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: rgb(253, 253, 33);
    
    
    
}

#nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-family: "montserrat";
    font-size: 30px;
    padding: 5px;  
     
    
}

#search {
    float: right;  
    background-color: light gray;
    height:45px;
  
}



header {
    background-color: rgb(104, 101, 101);
    height: 23vh;
   
}
    

main {
    font-family: "montserrat";
    font-size: 1em;
 
}

.gallery {
    display: grid;
    max-width: 60vw;
    border: 6px rgb(104, 101, 101);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
   
}
.gallery > img {
    filter:grayscale(1);
    transition: transform 0.3s ease-in-out;
}

.gallery-cards {
    text-align: center;
    
}
.gallery > img :hoover {
    filter: grayscale(0);
    transform: scale(2);
    z-index: 2;
}