body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: rgb(253, 253, 33);
    
}

#nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-family: "montserrat";
    font-size: 30px;
    padding: 5px;  
     
    
}

#search {
    float: right;  
    background-color: light gray;
    height:35px;
  
  
}

header {
    background-color: rgb(104, 101, 101);
    height: 23vh;
   
}
    

main {
    font-family: "montserrat";
    font-size: 1em;
 
}